html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  // min-width: 1440px;
  // max-width: 1600px;
  overflow-x: hidden;
  // background-image: url("../images/Noise.svg");
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 155px;
}
.br {
  display: none;
}
